$body-background: #000;
$body-default-color: #FFF;
$title-color: #08F;
$header-color: #0F0;

@mixin hover($c: $body-default-color, $b: $body-background) {
	&:link, &:visited {
		color: $c;
		background: $b;
	}
	&:hover, &:active {
		color: $b;
		background: $c;
	}
}

@mixin paddingprojects($pad: 5px) {
	padding-left: $pad;
	padding-right: $pad;
	margin-left: (-1 * $pad);
}
@mixin h2style() {
    h2 {
        color: $header-color;
        margin-top: 0;
        margin-bottom: 0;
        a {
            font-size: 30px;
            @include hover($header-color);
            text-decoration: none;
            @include paddingprojects;
        }
    }
}
