@import 'sass/menuhor';
body {
	background-color: $body-background;
	color: $body-default-color;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}
#page {
	margin-left: 20px;
	margin-right: 20px;
}
h1#title {
	@include paddingprojects;
	font-size: 55px;
	margin: 20px 0;
	color: $title-color;
	padding-bottom: 10px;
	margin-bottom: 3px;
	&:hover {
		color: $body-background;
		background-color: $title-color;
	}
}
#content {
	padding-top: 0;
	color: $body-default-color;
	float: left;
	width: 100%;
	a {
		width: 100%;
		@include hover;
	}
	.heading {
		@include paddingprojects;
		font-size: 40px;
		width: 100%;
		float: left;
		margin-bottom: 2px;
		padding-bottom: 0px;
		@include hover($title-color);
	}
	.project {
		width: 400px;
		padding: 5px;
		padding-left: 0;
		margin: 5px 15px 5px 0;
		float: left;
		a {
			font-size: 20px;
			display: block;
			font-weight: bold;
			width: 100%;
			@include paddingprojects;
			padding-right: 0;
			margin: 2px 5px 2px -5px;
		}
		h2 {
			color: $header-color;
			margin-top: 0;
			margin-bottom: 0;
			a {
				font-size: 30px;
				@include hover($header-color);
				text-decoration: none;
				@include paddingprojects;
			}
		}
		p {
			margin: 0;
			padding-top: 2px;
			padding-bottom: 4px;
			@include paddingprojects;
			padding-right: 4px;
			margin-right: 0;
			@include hover;
		}
	}
	#contact {
		float: left;
		width: 100%;
		div {
			float: left;
			@include hover;
			@include paddingprojects;
			padding-bottom: 2px;
			&:hover {
				background: $body-default-color !important;
			}
			#email {
				@include hover($title-color);
				padding-left: 2px;
				padding-bottom: 2px;
				padding-right: 2px;
				margin-left: 2px;
				text-decoration: none;
			}
		}
	}
}
