body {
	background-color:#000;
	color:#FFF;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}
p {
	margin-top:10px;
	margin-bottom:5px;
}
p:hover {
	color:#000;
	background-color:#FFF;
}
#page {
	margin-left:20px;
	margin-right:20px;
}
#title {
	font-size:55px;
	margin:20px 0;
	color:#08f;
	padding:5px 0;
	margin-bottom:10px;
}
#title:hover {
	color:#000;
	background-color:#08F;
}
#content {
	padding-top:15px;
}
#content, #content a, #content a:link, #content a:visited {
	color:#FFF;
}
#content a:hover, #content a:active {
	color:#000;
	background-color:#FFF;
}
#content .heading {
	font-size:40px;
	width:100%;
	color:#08F;
	float:left;
}
#content .heading:hover {
	color:#000;
	background-color:#08F;
}
#content .project {
	width:400px;
//	height:200px;
	padding:5px;
	padding-left:0;
	margin:10px;
	margin-left:0px;
	margin-right:15px;
//	border:1px solid #FFF;
	float:left;
}
#content .project a {
	font-size:20px;
	display:block;
	font-weight:bold;
	width:auto;
}
#content h2 {
	font-size:30px;
	color:#0F0;
	text-decoration:none;
	margin-top:0px;
	margin-bottom:5px;
}
#content #contactme {
	float:left;
	width:100%;
}
#content .contactdet {
	margin-top:5px;
}
#content .contactdet a, #content .contactdet a:link, #content .contactdet a:visited {
	color:#08F;
}
#content h2:hover {
	color:#000;
	background-color:#0F0;
}
.hidden {
	display:hidden;
}
.hidden:hover {
	display:block;
}