!!! HTML
%html
	%head
		<link rel="stylesheet" type="text/css" href="style.css">
		%title Czipperz's Site
	%body
		#page
			#top
				%h1#title Czipperz's Site
				#menu
					%ul
						%li
							%a(href="index.html") Home
						%li
							%a(href="#projects") Projects
						%li
							%a(href="#contact") Contact
				<script src="js/menu.js"></script>
			#content
				%a#projects.heading Projects
				.project
					%h2
						%a CLibrary
					%a(href="https://github.com/czipperz/CLibrary/") Github
					%p
						A library that assists in many tasks but mainly focuses
						on graphics on JFrames.
				.project
					%h2
						%a(href="chs/index.html") New CHS Website
					%a(href="https://github.com/czipperz/chsWebsiteDraft") Github
					%p
						The current Corvallis High School website is pretty attrocious,
						so I decided to redesign it in my spare time.
				#contact
					%a.heading Contact
					%div
						Email me:
						%a(id="email" href="mailto:czipperz@gmail.com") czipperz@gmail.com
