!!! HTML
%html
	%head
		<link rel="stylesheet" type="text/css" href="style.css">
		%title Home | Corvallis High School
	%body
		%div#page
			#top
				#header
					%h1
						%a(href="index.html") Corvallis High School
				#navbar
					%ul
						%li
							%a(href="index.html") Home
						%li
							%a(href="") Counseling
						%li
							%a(href="departments.html") Departments
						%li
							%a(href="") Activities
						%li
							%a(href="") Athletics
			#content
				%h1 Home
				#info
					%h2 School Information
					%span.ld School Address:
					1400 NW Buchanan Ave., Corvallis, OR 97330
					%br

					%h2 Contact Numbers
					%span.ld Main Office Phone:
					541-757-5871
					%br
					%span.ld Main Office Fax:
					541-757-5875
					%br
					%span.ld Attendance Phone:
					541-757-5888
					%br
					%span.ld Records Request Fax:
					541-757-5894
					%br


					.ld
						%a(href="") Daily Announcements
						%br
						%a(href="") Regular School Bell Schedule
						%br
						%a(href="") Pride Assembly Bell Schedule
						%br
						%a(href="") 2-Hour Delay Bell Schedule
						%br
						%a(href="") Bus Routes
						%br
						%a(href="") Bus Snow Routes
						%br
						%a(href="") Volunteer Opportunities
						%br
						%a(href="") School Profile
						%br
						%a(href="") Building and Athletic Calendar
						%br
				#announcements
					%h2 Announcements
					%ul
						%li
							AP Tests -
							%strong Deadline to sign up for an AP Test is Thursday, March 19
							\- please pay only the deposit ($15 deposit for each test -
							$30 for both physics tests) - students should pay in person in Beyond CHS.
						%li
							%a.ld(href='') March Newsletter
							is available!
						%li
							Deadline to
							%strong request a "Pass/Fail" grade is April 8th
							\- go to the Counseling Center for the Pass/Fail Form.
