//Variables
body-background = 		#FFFFFF//#135284//#CCCFE0
body-color =			#CCCFE0
header-background = 	#093B62
header-default-color = 	#5EA3D7
header-hover-color = 	#FFFFFF
menu-hover-color = 		#214B6B
page-background-color = #FFFFFF
plink-hover-color = 	#093B62
plink-default-color =	#5EA3D7
thresh =				590px
scrollbar-fore =		#093B62
scrollbar-back =		#FFFFFF

::-webkit-scrollbar
	width 8px
	height 5px
::-webkit-scrollbar-thumb
	height 50pt
	background-color scrollbar-fore
	-webkit-border-radius 5px
	outline-offset 5px
::-webkit-scrollbar-track-piece
	background-color scrollbar-back
	-webkit-border-radius 0
::-webkit-scrollbar:horizontal
	display none

contentheading()
	font-size 30px
	margin-bottom 10px
