@import "stylemenuhor";
@import "variables";
@mixin standardhover() {
	color:$body-background;
	background-color:$body-default-color;
}
body {
	
	background-color:$body-background;
	color:$body-default-color;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}
p {
	margin-top:10px;
	margin-bottom:5px;
	&:hover {
		@include standardhover();
	}
}
#page {
	margin-left:20px;
	margin-right:20px;
}
#title {
	font-size:55px;
	margin:20px 0;
	color:$title-color;
	padding:5px 0;
	margin-bottom:10px;
	&:hover {
		color:$body-background;
		background-color:$title-color;
	}
}
#content {
	padding-top:15px;
	color:$body-default-color;
	a {
		width:100%;
		&:link, &:visited {
			color:$body-default-color;
		}
		&:hover, &:active {
			color:$body-background;
			background-color:$body-default-color;
		}
	}
	.heading {
		font-size:40px;
		width:100%;
		color:$title-color;
		float:left;
		&:hover {
			color:$body-background;
			background-color:$title-color;
		}
	}
	.project {
		width:400px;
	//	height:200px;
		padding:5px;
		padding-left:0;
		margin:10px;
		margin-left:0px;
		margin-right:15px;
	//	border:1px solid #FFF;
		float:left;

		a {
			font-size:20px;
			display:block;
			font-weight:bold;
			width:100%;
		}
	}
	h2 {
		font-size:30px;
		color:$header-color;
		text-decoration:none;
		margin-top:0px;
		margin-bottom:5px;
		&:hover {
			color:#000;
			background-color:$header-color;
		}
	}
	
	#contact {
		float:left;
		width:100%;
		p {
			margin-top:50px;
			//width:100%;
			&:hover {
				background-color:$body-background;
				color:$body-default-color;
			}
			a, a:link, a:visited {
				color:$body-default-color;
			}
			#emailcont:hover {
				@include standardhover();
			}
		}
	}
}
.hidden {
	display:none;
	&:hover {
		display:block;
	}
}
